* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container {
  min-width: 300px;
  min-height: 300px;
  border-radius: 7%;
  border: 4px solid black;
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 20px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tile {
  height: 75px;
  width: 75px;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 8px;
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: yellow;
}

.wrong {
  background-color: #888;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.key {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #bbb;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

h1 {
  font-size: 5em;
}

@media only screen and (max-width: 480px) {
  /* CSS rules for screens narrower than 480px */
  .container {
    flex-direction: column;
  }
}
